* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: #fff;
}

li {
  margin-left: 1.5rem;
}

.title {
  display: inline;
  border-bottom: 3px transparent solid;
  border-color: #ffbc00;
  font-weight: bold;
}

.row {
  margin: 1rem 0;
  margin-left: 2rem;
}

.div-centered {
  text-align: left; 
  margin: auto; 
  width: 200px;
}

.navbar.transparent.navbar-inverse .navbar-inner {
  background: rgba(0,0,0,0.4);
}

.navbar-nav a {
  margin-left: 1.25rem;
}

#header {
  background: url("https://source.unsplash.com/Bd7gNnWJBkU") no-repeat center right/cover;
  height: 100vh;
  color: #fff;
}

#header::before {
  content: '';
  background: #000000;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.25;
}

#header .header-content {
  text-align: center;
  padding-top: 20%;
}

#header .header-content h1 {
  font-size: 4rem;
  line-height: 1.2;
  font-weight: bold;
  position: relative;
}

#header .header-content p {
  line-height: 1.2;
  font-weight: bold;
  position: relative;
}

#about {
  padding: 3rem 0;
  font-weight: bold;
  font-size: 1.5rem;
}

#skills {
  background: #333;
  color: #fff;
  padding: 3rem 0;
}

.photo {
  width: 200px;
}

.description {
  border-left: #ffbc00 3px solid;
}

.btn-wrapper {
  margin-top: 2rem;
  text-align: center;
}

#contact {
  padding: 3rem;
}

#main-footer {
  background: #333;
  color: #fff;
  height: 5rem; 
}

#main-footer .footer-content {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center; 
}

#main-footer .footer-content .social a {
  padding: 0;
  margin: 0;
  color: #fff;
  display: inline-block;
  width: 35px;
  margin: 0.5rem 1rem;
  opacity: 1;
}

#main-footer .footer-content .social a:hover {
  opacity: 0.8;
}

#achievements {
  padding: 3rem 0;
}

@media(max-width: 768px) {
  #about .container .row {
    flex-direction: column;
    align-items: center;
  }

  #about .container .row img {
    max-width: 100%;
    margin-bottom: 1rem;
  }  

  #about .container .row p {
    font-size: 1rem;
  }

  #contact .container{
    padding-left: 0;
  }

  #contact .container .col-sm {
    padding-left: 0;
    margin-bottom: 2rem;
  }

}
