{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/bootstrap.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="https://kit.fontawesome.com/26197ec3bf.js"></script>
  <title>Kevin Asyraf</title>
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar transparent navbar-inverse sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#header">KEVIN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link js-scroll-trigger" href="#header">HOME</a>
        <a class="nav-item nav-link js-scroll-trigger" href="#about">ABOUT</a>
        <a class="nav-item nav-link js-scroll-trigger" href="#contact">CONTACT</a>
        <a class="nav-item nav-link" href="./achievements/">ACHIEVEMENTS</a>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header id="header">
    <div class="container">
      <div class="header-content">
        <h1>Kevin Asyraf</h1>
        <p class="lead">Web Developer | Data Enthusiast</p>
      </div>
    </div>
  </header>

  <!-- About -->
  <section id="about">
    <div class="container">
      <h1 class="title">About</h1>
      <div class="row">
        <div class="col-3 px-0">
          <img src="{% static photo %}" alt="Kevin Asyraf" class="img-fluid photo">
        </div>
        <div class="col-9 bg-light description">
          <p>Kevin is an undergraduate student at the Faculty of Computer Science University of Indonesia, majoring in Information System. Kevin have interest in web development, data science, and machine learning. Kevin is a hard-working, dedicated, and open-minded person. Kevin also able to work well in a team. He likes to learn many new things.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Skills  -->
  <section id="skills">
    <div class="container">
      <h1 class="title">Skills</h1>
      <div class="row">
        <div class="col-sm">
          <h2>Strong</h2>
          <ul>
            <li>Python</li>
            <li>Java</li>
            <li>HTML</li>
            <li>CSS</li>
          </ul>
        </div>
        <div class="col-sm">
          <h2>Experienced</h2>
          <ul>
            <li >Django</li>
            <li>JavaScript</li>
            <li>SASS</li>
          </ul>
        </div>
        <div class="col-sm">
            <h2>Familiar</h2>
            <ul>
              <li>Ruby</li>
              <li>Ruby on Rails</li>
            </ul>
        </div>
      </div>
      <div class="btn-wrapper">
          <a class="btn btn-light btn-lg" href="http://bit.ly/ResumeKevin" role="button">Check out my résumé!</a>
      </div>
    </div>
  </section>

  <!-- Contact -->
  <section id="contact">
    <div class="container">
      <div class="row my-8">
        <div class="col-sm text-center">
          <i class="fas fa-envelope fa-5x"></i>
          <h3>Email Me</h3>
          <p>kevinasyrafputra@gmail.com</p>
        </div>
        <div class="col-sm text-center">
          <i class="fas fa-map-marker-alt fa-5x"></i>
          <h3>Where to find me</h3>
          <p>Bogor, Indonesia</p>
        </div>
        <div class="col-sm text-center">
          <i class="fas fa-phone-alt fa-5x"></i>
          <h3>Reach me at</h3>
          <p>+6282227718841</p>
        </div>
      </div>
    </div>    
  </section>

  <!-- Footer -->
  <footer id="main-footer">
    <div class="footer-content container d-flex justify-content-center align-items-center flex-column">
      <div class="social">
        <a href="https://github.com/kevinasyraf"><i class="fab fa-github fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/kevinasyraf/"><i class="fab fa-linkedin fa-2x"></i></a>
        <a href="https://www.instagram.com/kevinasyraf/"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="https://www.facebook.com/kevin.asyraf"><i class="fab fa-facebook fa-2x"></i></a>    
      </div>
      <p style="margin: 0;">Copyright &copy; 2019 by Kevin Asyraf.</p>
    </div>
  </footer>

  <!-- JQuery -->
  <script type="text/javascript" src="./js/jquery-3.4.1.min.js"></script>

  <!-- Popper -->
  <script type="text/javascript" src="./js/popper.min.js"></script>

  <!-- Bootstrap -->
  <script src="./js/bootstrap.js"></script>

  <!-- Active State Navbar -->
  <!-- <script src="./js/resume.min.js"></script> -->

  <!-- Type Effect -->
  <script src="./js/typewriter.js"></script>
</body>
</html>